:root {
  --primary-color: hsl(215, 79%, 62%);
  --primary-color--dim: rgba(21, 61, 111, 0.44);
  --secondary-color: #ffc107;

  --primary-background-color: #333;
  --secondary-background-color: #444;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
